* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}
main{
    flex: 1;
}

.header-com-imagem{
    background: #333;
    color: #fff;
    padding: 15px 20px;
}

.logo {
    text-align: center;
    text-decoration: none;
    color: #fff;
}

#nav {
    margin-top: 10px;
}

#menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#menu li {
    margin: 0 15px;
}

#menu a {
    color: #fff;
    text-decoration: none;
}

#main-home {
    background-image: url(fundoliso.avif);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-content {
    max-width: 800px;
    margin: 0 auto;
}

.text-content img {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
}

h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
}

.texto-home {
    font-style: italic;
    font-size: 1em;
    line-height: 1.5;
}
.carrinho-link{
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: #ff6600;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0,3;
      
}
.carrinho-link:hover{
    background-color: #ff6600;

}

footer {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
    width: 100%;
}

.contacts-footer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    gap: 20px;
    
    
}
.contacts-footer a{
    text-decoration: none;
    color: #ff6600;
}


.phone, .email {
    text-align: center;
    
}

.nav-footer {
    margin-top: 10px;
    
}

.nav-ul {
    list-style: none;
    display: flex;
    justify-content: center;
    
}

.nav-ul li {
    margin: 0 10px;
    
}

.a-footer {
    color: #fff;
    text-decoration: none;
}
